<app-header></app-header>

<section class="single-page-header SEO">
    <div class="container">
        <div class="row">
            <div class="col-md-12 serviceText">
                <h1 style="color:#ffa500; font-size: 300%;">Search Engine Optimization</h1>
                <ol class="breadcrumb header-bradcrumb">
                    <!-- <li><a href="index.html">Home/ </a></li>
                <li class="active">About Us</li> -->
                </ol>
                <h6>Reach your customer on the first page of Google organically.</h6>

            </div>
        </div>
    </div>
</section>


<!-- Start Services Section
    ==================================== -->
<section class="about-2 section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <!-- <h2>Our Services</h2> -->
                    <div class="border"></div>
                    <h2>
                        Whether you are looking to improve your ranking on search engines, rank higher for a keyword, or clean up your website structure, we’ve got you covered.</h2>
                </div>

                <!-- /section title -->
            </div>
            <!-- section title -->

            <!-- /section title -->

            <div class="col-md-6">
                <img style="border-radius: 30px; margin-top: 10%; height: 90%;" src="https://thumbs.dreamstime.com/b/seo-search-engine-optimization-marketing-ranking-traffic-website-internet-business-technology-concept-126377607.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-md-6">
                <ul>
                    <li style="font-size: 400%;">Include:</li>

                </ul>
                <ul class="checklist">
                    <li>Local Business SEO</li>
                    <li>Website Audit</li>
                    <li>Keyword Tracking</li>
                    <li>Google Analytics Set Up</li>
                    <li>On-Page Optimization</li>
                    <li>Google My Business Set Up</li>
                    <li>Competitor Research</li>
                    <li>YouTube Channel & Video SEO</li>
                    <li>Local SEO</li>
                    <li>Images Optimization</li>
                    <!-- <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li> -->
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- End section -->

<app-footer></app-footer>