<app-header *ngIf="!isLoading"></app-header>
<!-- <div id="preloader">
    <div class='preloader'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->
<app-spinner *ngIf="isLoading"></app-spinner>

<owl-carousel-o [options]="customOptionshome" *ngIf="!isLoading">
    <div class="hero-slider slick-initialized slick-slider">
        <button type="button" class="prevArrow slick-arrow" style="display: block;"></button>
        <button type="button" class="nextArrow slick-arrow" style="display: block;"></button>
    </div>
    <ng-container >
        
        <ng-template carouselSlide>
            <div class="slider-item th-fullpage hero-area dilpreetDhillon">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 style="color:#fff" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Best Digital Marketing <br> Agency In Chandigarh</h2>
                            <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main carousalBtn" routerLink="/services" (click)="onNavigateTo('/services')">Inspect Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slider-item th-fullpage hero-area himanshi">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 style="color:#fff" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">We make <br>digital marketing simple</h2>
                            <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main carousalBtn" routerLink="/services"  (click)="onNavigateTo('/services')">Inspect Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slider-item th-fullpage hero-area sonam-bajwa">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 style="color:#fff" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Advertise, analyze, and optimize! <br> We do it all for you</h2>
                            <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main carousalBtn" routerLink="/services" (click)="onNavigateTo('/services')">Inspect Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
<main *ngIf="!isLoading">

<!-- <div class="hero-slider">
    <div class="slider-item th-fullpage hero-area dilpreetDhillon">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color:#fff" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Best Digital Marketing <br> Agency In Chandigarh</h2>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main carousalBtn" routerLink="/services">Inspect Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area himanshi">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color:#fff" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">We make <br>digital marketing simple</h2>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main carousalBtn" routerLink="/services">Inspect Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area sonam-bajwa">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color:#fff" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Advertise, analyze, and optimize! <br> We do it all for you</h2>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main carousalBtn" routerLink="/services">Inspect Us</a>
                </div>
            </div>
        </div>
    </div>

</div> -->

<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2>WHO WE ARE</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam reprehenderit accusamus labore iusto,
                    aut, eum itaque illo totam tempora eius.</p> -->
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->

            <div class="col-md-6">
                <img style="margin-top:-40px;border-radius: 25px;" src="assets/images/about/social-logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <ul class="checklist">
                    <li>Dope Digital is one of the best and quickest growing digital marketing agency located in Chandigarh.</li>
                    <li>Dope Digital was founded in December 2016.</li>
                    <li>We offer internet marketing, digital marketing and social media management. </li>
                    <li>We are not just a digital marketing company but a company which provide many services like social media marketing, brand awareness, digital marketing and other marketing alternatives.</li>
                    <!-- <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li> -->
                </ul>
                <a routerLink="/about" class="btn btn-main mt-20"  (click)="onNavigateTo('/about')">READ MORE</a>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->


<!--
Start About Section
==================================== -->
<section class="service-2 section">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>What Do We Offer</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Voluptates, earum. </p> -->
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
            <div class="row">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-android-person-add"></i>
                            <h4>SMM</h4>
                            <p>Social Media Marketing:- We manage your social platforms to promote your brand or your songs in order to get more awareness because people are getting socialize on social media more than real life.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-google-outline"></i>
                            <h4>Google Adwords</h4>
                            <p>We promote your brand through PPC. It is a model of internet marketing in which advertisers pay a fee each time one of their ads is clicked. Showing ad at top in less price is the real thing in which we are expert.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-facebook-outline"></i>
                            <h4>FB Ads</h4>
                            <p style="margin-bottom: 3.782rem;">Facebook allows users to target audiences through self-serve tools and it gives them analytics reports that track the performance of each ad.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-instagram-outline"></i>
                            <h4>Insta Ads</h4>
                            <p style="margin-bottom: 3.782rem;">Instagram advertising is method of paying to post sponsored content on the Instagram platform to reach a larger and more targeted audience..</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <!-- END COL -->
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="border"></div>
    <div style="text-align: center; margin-top: 3rem;">
        <a routerLink="/services" (click)="onNavigateTo('/services')" class="btn btn-main">View All</a>

    </div>
</section>
<!-- End section -->


<section class="team" id="team">
    <div class="container" style="width: 75%;">
        <div class="row">

            <!-- section title -->
            <div class="col-12">
                <div class="title text-center ">
                    <h2>Our Talents</h2>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->

            <!-- team member -->
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/Ammy-Virk.png" alt="Ammy Virk">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/ItsAmmyVirk/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/ammyvirk/?hl=en"><i class="tf-ion-social-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Ammy Virk</h3>

                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->

            <!-- team member -->
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/baani_sandhu_4.png" alt="Baani Sandhu">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/baanisandhuofficial/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/baanisandhuofficial/"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Baani Sandhu</h3>

                    </div>
                    <!-- /member name & designation -->
                </div>
            </div>
            <!-- end team member -->

            <!-- team member -->
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/Binnu-Dhillon.png" alt="Binnu Dhillon">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/BinnuDhillon/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/binnudhillons/?hl=en	"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Binnu Dhillon</h3>

                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/himanshi.png" alt="Himanshi Khurana">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/HimanshiKhurana.in/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/iamhimanshikhurana/?hl=en"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Himanshi Khurana</h3>

                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/Inder-Chahal.png" alt="Inder Chahal">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/InderChahalMusic/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/inderchahalofficial/?hl=en"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Inder Chahal</h3>

                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/Rumman-Ahmed.png" alt="Rumman Ahmed">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/rumman30/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/rummanshahrukh/?hl=en"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Rumman Ahmed</h3>

                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/sonam-bajwa.png" alt="Sonam Bajwa">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li title="Facebook"><a target="blank" href="https://www.facebook.com/ThisIsSonamBajwa/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/sonambajwa/?hl=en"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Sonam Bajwa</h3>

                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-lg-3 ">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img class="img-fluid" src="assets/images/clients/Tania.png" alt="Tania">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <!-- <li title="Facebook"><a target="blank" href="#"><i class="tf-ion-social-facebook"></i></a></li> -->
                                <li title="Instagram"><a target="blank" href="https://www.instagram.com/taniazworld/?hl=en"><i class="tf-ion-social-instagram"></i></a></li>

                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>
                    <div class="member-content">
                        <h3>Tania</h3>

                    </div>
                    <!-- /member name & designation -->
                </div>
            </div>
            <!-- end team member -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="clientsViewAllBtn">
        <a routerLink="/clients" (click)="onNavigateTo('/clients')" class="btn btn-main">View All</a>
    </div>
</section>
<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Let's Create Something Together</h2>
                <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin bibendum auctor, <br> nisi elit consequat ipsum, nesagittis sem nid elit. Duis sed odio sitain elit.</p> -->
                <a routerLink="/contact" (click)="onNavigateTo('/contact')" class="btn btn-main contactUsBtn">Contact Us</a>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->

<!--
    Start Counter Section
    ==================================== -->

<!-- <section class="counter-wrapper section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <h2>Award-Winning Agency</h2>
                    <p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-alarm-outline"></i>
                    <div>
                        <span class="counter" data-count="150">0</span>
                    </div>
                    <h3>Happy Clients</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-analytics-outline"></i>
                    <div>
                        <span class="counter" data-count="130">0</span>
                    </div>
                    <h3>Projects completed</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item">
                    <i class="tf-ion-ios-compose-outline"></i>
                    <div>
                        <span class="counter" data-count="99">0</span>
                    </div>
                    <h3>Positive feedback</h3>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                <div class="counters-item kill-border">
                    <i class="tf-ion-ios-bolt-outline"></i>
                    <div>
                        <span class="counter" data-count="250">0</span>
                    </div>
                    <h3>Cups of Coffee</h3>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!--
    Start Blog Section
    =========================================== -->

<section class="blog" id="blog">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="title text-center ">
                    <h2> Latest <span class="color">Posts</span></h2>
                    <div class="border"></div>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit libero inventore nam.</p> -->
                </div>
            </div>
            <article class="col-md-4 col-sm-112 col-xs-12 clearfix " *ngFor="let blog of latestBlogs">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img [src]="blog.imgSrc" [alt]="blog.title" class="img-fluid">
                    </div>

                    <div class="content">
                        <h5><a (click)="onNavigate(blog)" [innerHTML]="blog.title"></a></h5>
                        <!-- <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p> -->
                        <a class="btn btn-main" (click)="onNavigate(blog)">Read more</a>
                    </div>
                </div>
            </article>
            <!-- <article class="col-md-4 col-sm-12 col-xs-12 ">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img src="assets/images/blog/post-2.jpg" alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">A Few Moments</a></h3>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
                        <a class="btn btn-main" href="single-post.html">Read more</a>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12 ">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img src="assets/images/blog/post-3.jpg" alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">Hints for Life.....</a></h3>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
                        <a class="btn btn-main" href="single-post.html">Read more</a>
                    </div>
                </div>
            </article> -->
        </div>
    </div>
</section>
</main>
<app-footer *ngIf="!isLoading"></app-footer>