<app-header></app-header>

<!-- <div id="preloader">
    <div class='preloader'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->

<section class="single-page-header SERVICES">
    <div class="container">
        <div class="row">
            <div class="col-md-12 serviceText">
                <h2 style="color: #FFA850;">WHAT DO WE OFFER</h2>
                <p style="color: #fff;">We help clients grow their business by marketing their brands and giving them exposure to get new customers. <br> We also use techniques to use your existing customers to help bring in new business. <br> It’s all about getting creative.
                    Coming up with an acquisition strategy that also promotes retention is a win-win scenario for everyone involved. <br> We are best in following services.</p>

                <ol class="breadcrumb header-bradcrumb">
                    <!-- <li><a href="index.html">Home/ </a></li>
                <li class="active">About Us</li> -->
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- Start Services Section
    ==================================== -->

<section class="service-2 section">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Our Services</h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>

            <!-- <div class="col-md-4 text-center">
              <img src="images/socialMedia.png" class="inline-block" alt="">
              <img style="margin: 4rem 0;" src="images/marketing.png" class="inline-block" alt="">
            </div> -->
            <div class="row">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-android-person-add"></i>
                            <h4>SMM</h4>
                            <p>Social Media Marketing:- We manage your social platforms to promote your brand or your songs in order to get more awareness because people are getting socialize on social media more than real life.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-google-outline"></i>
                            <h4>Google Adwords</h4>
                            <p>We promote your brand through PPC. It is a model of internet marketing in which advertisers pay a fee each time one of their ads is clicked. Showing ad at top in less price is the real thing in which we are expert.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-facebook-outline"></i>
                            <h4>FB Ads</h4>
                            <p style="margin-bottom: 3.782rem;">Facebook allows users to target audiences through self-serve tools and it gives them analytics reports that track the performance of each ad.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-instagram-outline"></i>
                            <h4>Insta Ads</h4>
                            <p style="margin-bottom: 3.782rem;">Instagram advertising is method of paying to post sponsored content on the Instagram platform to reach a larger and more targeted audience..</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-html5-outline"></i>
                            <h4>Web Design</h4>
                            <p style="margin-bottom: 2.4rem;">A website is the backbone of any business’ online presence. Our experienced developers understand that the digital habits of consumers are always changing, and our designs reflect the most up-to-date and creative approach
                                to web design and development.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Graphic Design</h4>
                            <p>Our team of talented designers create memorable designs, and with few words tell stories that speak directly to the core of your brand identity. From labels to logos, billboards to Facebook advertisements, strong consistent
                                graphic design communicates identity and brand values regardless of where it appears..</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-ios-videocam-outline"></i>
                            <h4>Video Production</h4>
                            <p style="margin-bottom: 2.4rem;">Video is becoming increasingly important as audiences search for more engaging content. This easy to consume media appeals to wide demographics, elevates your brand, while providing an entertaining alternative to traditional
                                static visual communication.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-cash"></i>
                            <h4>Brand Marketing</h4>
                            <p>Branding, at its core, is the process of building an identity that will become the foundation for the future of your business. Our team of creative and branding experts will go beyond simple logo design and naming options,
                                to create a memorable identity that will truly resonate with audiences.</p>
                        </div>
                    </div>
                    <!-- END COL -->
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<app-footer></app-footer>