<app-header></app-header>
<section class="single-page-header socialMediaManagement">
    <div class="container">
        <div class="row">
            <div class="col-md-12 serviceText">
                <h1 style="color:#ffa500 ; font-size: 300%;">Social Media Management</h1>
                <ol class="breadcrumb header-bradcrumb">
                    <!-- <li><a href="index.html">Home/ </a></li>
                <li class="active">About Us</li> -->
                </ol>
                <h6>Go viral in 2021 with powerful social media marketing.</h6>

            </div>
        </div>
    </div>
</section>


<!-- Start Services Section
    ==================================== -->
<section class="about-2 section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <!-- <h2>Our Services</h2> -->
                    <div class="border"></div>
                    <h3>
                        Is your business using the most effective and latest social media strategies of 2020? Originally written off as a fad, the truth is if your business is not using social media the right way this year, you are losing out on sales and dollars.</h3>
                    <h6 style="margin-top: 2rem;">YouNedia Digital Marketing Agency makes it easier for you to focus on the other parts of your business with our social media management and marketing services. Here are 7 of the most common reasons why business owners are struggling
                        with social media:</h6>

                </div>

                <!-- /section title -->
            </div>
            <!-- section title -->

            <!-- /section title -->

            <div class="col-md-6">
                <img style="border-radius: 30px;" src="assets/images/socialMedia.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-6">
                <ul class="checklist">
                    <li>Too time consuming.</li>
                    <li>Challenging to get content to a new or larger audience</li>
                    <li>Not sure how to create a social media strategy that works.</li>
                    <li>Hard to create quality visuals, graphics or articles</li>
                    <li>Difficult to come up with content to share.</li>
                    <li>Not knowing how to establish an authentic connection with audience.</li>
                    <li>Unsure how use data to make content better.

                    </li>
                    <!-- <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End section -->



<section class="service-2 section">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Social media Management Services include:</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Voluptates, earum. </p> -->
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>

            <!-- <div class="col-md-4 text-center">
              <img src="images/socialMedia.png" class="inline-block" alt="">
              <img style="margin: 4rem 0;" src="images/marketing.png" class="inline-block" alt="">
            </div> -->
            <div class="row">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Identification and <br> Assessment of Target Audience</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Creation of Effective Marketing Strategy and Implementation</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Regular Scheduled Updates as Well as News and Articles as They Happen</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Continuous Social Media Monitoring, Including Recognition and Response</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Sustained Research, Tracking, And Adaptation to Online Trends and Resources</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>
                                Encouraging Awareness and Support Within Blogging Community and Forums</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Targeting Specific Keywords, Phrases and Topics Relevant to Your Brand</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>
                                Utilization of Analytics and Data-Tracking Tools for Strategy Improvement</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <!-- END COL -->
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->

</section>

<app-footer></app-footer>