<app-header></app-header>
<section class="single-page-header webdesign">
    <div class="container">
        <div class="row">
            <div class="col-md-12 serviceText">
                <h1 style="color:#ffa500 ;">Website Design & Development</h1>
                <ol class="breadcrumb header-bradcrumb">
                    <!-- <li><a href="index.html">Home/ </a></li>
                <li class="active">About Us</li> -->
                </ol>
                <h6>Deliver value to your clients with a fast, beautiful website built for 2021.</h6>

            </div>
        </div>
    </div>
</section>


<!-- Start Services Section
    ==================================== -->
<section class="about-2 section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <!-- <h2>Our Services</h2> -->
                    <div class="border"></div>
                    <p> Whether you want just a landing page, an e-commerce set up, or a complete, modern website redesign, we’ve got you covered.</p>
                </div>

                <!-- /section title -->
            </div>
            <!-- section title -->

            <!-- /section title -->

            <div class="col-md-6">
                <img style="height: 75%; border-radius: 30px;" src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2ViZGVzaWdufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="">
            </div>

            <div class="col-md-6">
                <ul class="checklist">
                    <li>We offer modern, mobile-ready, responsive and SEO-friendly websites designed to convert traffic on your page.</li>
                    <li>Dope Digital Marketing Agency will build you a website where intuitive function meets creative design. If your website is running slow and your business isn’t seeing growth every month, you’re missing out on money every passing
                        day.
                    </li>
                    <li>We offer comprehensive web design services for all type of businesses and individuals. We offer complimentary website support for at least thirty (30) days on all website builds. This means you can rest assured your new site will
                        be in good hands, months after we hand it over to you.</li>
                    <!-- <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>