<app-header></app-header>
<section class="single-page-header ABOUTUS">
    <div class="container">
        <div class="row">
            <div class="col-md-12 serviceText">
                <h1 style="font-size: 300%; color: #ffa850;">About Us</h1>
                <ol class="breadcrumb header-bradcrumb">
                    
                    <!-- <li><a href="index.html">Home/ </a></li>
              <li class="active">About Us</li> -->
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="about-shot-info section-sm" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-20">
                <h2>ABOUT DOPE DIGITAL<br></h2>
                <p>Dope Digital is one of the best and quickest growing digital marketing agency located in Chandigarh. Dope Digital was founded in December 2016. We offer internet marketing, digital marketing and social media management. We are not
                    just a digital marketing company but a company which provide many services like social media marketing, brand awareness, digital marketing and other marketing alternatives. Dope Digital provides the best Social Media marketing
                    and brand awareness to our clients to get more exposure. Currently, we manage social media of more than 100 talents including politicians, popular singers, actors, models, athletes, sportsperson and many more.</p>
                <p>Nowadays, people are getting socialize on social media more than real life therefore social media has now become a good source for brand awareness. We believe that every brand needs exposure. We design brand experiences that connect
                    through the most powerful platforms. Forget the small talk, we believe in building relationships.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" style="margin-top: 3rem;" src="assets/images/dope-digital-logo.jfif" alt="">
            </div>
        </div>
    </div>
</section>



<!-- <section class="company-mission section-sm bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Our Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere in suscipit voluptatum totam dolores assumenda vel, quia earum voluptatem blanditiis vero accusantium saepe aliquid nulla nemo accusamus, culpa inventore! Culpa nemo
                    aspernatur tenetur, at quam aliquid reprehenderit obcaecati dicta illum mollitia, perferendis hic, beatae voluptates? Ex labore, obcaecati harum nam.</p>
                <img src="images/company/company-image-2.jpg" alt="" class="img-fluid mt-30">
            </div>
            <div class="col-md-6">
                <h3>Our Vision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere in suscipit voluptatum totam dolores assumenda vel, quia earum voluptatem blanditiis vero accusantium saepe aliquid nulla nemo accusamus, culpa inventore! Culpa nemo
                    aspernatur tenetur, at quam aliquid reprehenderit obcaecati dicta illum mollitia, perferendis hic, beatae voluptates? Ex labore, obcaecati harum nam.</p>
                <img src="images/company/company-image-3.jpg" alt="" class="img-fluid mt-30">
            </div>
        </div>
    </div>
</section> -->


<!-- 
<section class="promo-video section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title text-center">
                    <h2>Our Promo Video</h2>
                    <p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu.Sed condimentum iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
                    <div class="border"></div>
                </div>
            </div>
            <div class="col-md-8 mx-auto">
                <iframe src="./videos/node.mp4" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section> -->



<!--
Start Call To Action
==================================== -->


<!-- <section class="section grallery">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="title text-center">
                <h2>Gallery</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore numquam esse vitae recusandae qui aspernatur, blanditiis, laboriosam dignissimos dolore facere provident ex? Porro, praesentium consectetur tempore. Nulla, error eius dolorem.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="company-gallery">
                <img src="images/company/gallery-1.jpg" alt="">
                <img src="images/company/gallery-2.jpg" alt="">
                <img src="images/company/gallery-3.jpg" alt="">
                <img src="images/company/gallery-4.jpg" alt="">
                <img src="images/company/gallery-5.jpg" alt="">
                <img src="images/company/gallery-5.jpg" alt="">
                <img src="images/company/gallery-1.jpg" alt="">
                <img src="images/company/gallery-2.jpg" alt="">
                <img src="images/company/gallery-3.jpg" alt="">
                <img src="images/company/gallery-4.jpg" alt="">
                <img src="images/company/gallery-5.jpg" alt="">
                <img src="images/company/gallery-5.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</section> -->



<!-- Start Our Team
    =========================================== -->
<!-- End section -->



<!--
    Start Counter Section
    ==================================== -->


<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>WANT TO HIRE US?</h2>
                <p>Want to hire best online media advertising platform which has been appreciated by<br> various famous celebrities such as singers,politicians, actors, models, athletes,<br> sportsperson and many more.

                </p>
                <a routerLink="/contact" (click)="onNavigate('/contact')" class="btn btn-main">Contact Us</a>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->
<app-footer></app-footer>