
<app-header></app-header>
<section class="single-page-header paidAdManagement">
    <div class="container">
        <div class="row">
            <div class="col-md-12 serviceText">
                <h1 style="color:#ffa500 ; font-size: 300%;">Paid Ad Management</h1>
                <ol class="breadcrumb header-bradcrumb">
                    <!-- <li><a href="index.html">Home/ </a></li>
                <li class="active">About Us</li> -->
                </ol>
                <h6>We help you build awareness, get traffic, and drive sales.</h6>

            </div>
        </div>
    </div>
</section>


<!-- Start Services Section
    ==================================== -->
<section class="about-2 section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <!-- <h2>Our Services</h2> -->
                    <div class="border"></div>
                    <h3>

                        As Google Ads Certified experts, we help you use the power of programmatic advertising to increase leads, sales and web traffic with budgets of any size.</h3>
                    <h6 style="margin-top: 2rem;">Dope Digital Marketing Agency makes it easier for you to connect with the right people, at the right time, with the right message. We do this using paid channels on search engines, partner sites and social media. We manage ad campaigns
                        for your organization on a wide range of platforms including:</h6>

                </div>

                <!-- /section title -->
            </div>
            <!-- section title -->

            <!-- /section title -->

            <div class="col-md-6">
                <img style="border-radius: 30px; height: 80%;" src="assets/images/about/about-2.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-6">
                <ul class="checklist">
                    <li>Google Search & Display Network</li>
                    <li>YouTube</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Microsoft Advertising (formerly Bing Advertising)</li>
                    <li>Twitter</li>
                    <li>and more</li>
                    <!-- <li>Aenean quam. Pellentesque ornare sem laca quam venenatis vestibulum.</li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End section -->



<section class="service-2 section">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Paid Ad Management Services include:</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Voluptates, earum. </p> -->
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>

            <!-- <div class="col-md-4 text-center">
              <img src="images/socialMedia.png" class="inline-block" alt="">
              <img style="margin: 4rem 0;" src="images/marketing.png" class="inline-block" alt="">
            </div> -->
            <div class="row">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Google Ads Account Set Up</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Remarketing Ad Campaigns
                            </h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Audience Targeting</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Competitor Analysis</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Conversion Tracking Set Up</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>
                                Device & Geo-Targeting</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>Utilization of Analytics and Data-Tracking Tools</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>
                                Campaign Auditing</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>
                                Landing Page Optimization</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="tf-ion-social-designernews-outline"></i>
                            <h4>
                                Monthly Calls & Reporting</h4>
                        </div>
                    </div>
                    <!-- END COL -->
                    <!-- END COL -->
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->

</section>

<app-footer></app-footer>