<app-header></app-header>
<section class="single-page-header blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 [innerHTML]="blog.header ? blog.header: 'Blog'"></h2>
        <ol class="breadcrumb header-bradcrumb">
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- blog details part start -->
<section class="blog-details section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <article class="post">
          <div class="post-image">
            <h3 class="bold-text">{{ blog.title }}.</h3>
            <img class="img-fluid w-100" [src]="blog.imgSrc" [alt]="blog.title">
          </div>
          <!-- Post Content -->
          <!-- otherfacts -->
          <div class="post-content">
            <div *ngFor="let fact of blog.otherFacts">
              <p [innerHTML]="fact.fact"></p>
            </div>
          </div>
        </article>

        <!-- Subtitles -->
        <article class="post">
          <div class="post-content">
            <h2 class="boldH2">{{ blog.subTitles[0] }}</h2>

            <div *ngFor="let fact of blog.subTitleFacts">
              <p [innerHTML]="fact.fact"></p>
            </div>
            <h2 class="boldH2" *ngIf="blog.subTitleFactHeader">{{ blog.subTitleFactHeader }}</h2>

            <div *ngFor="let fact of blog.subTitleFactTitles">
              <p [innerHTML]="fact.point"></p>
            </div>
            <div style="margin-left:4%;" *ngFor="let points of blog.subTitleFactPoints; let i= index;">

              <ol type="1" id="containerIntro" class="list-inline">

                <h3 [innerHTML]="points.title"></h3>

                <a *ngIf="points.imgSrc && points.floatImage=='right'" class="boxout2 progressive replace"
                  style="max-height: 220px; width: 220px;">
                  <img style="height: 100%; width: 100%; border-radius:12px;" [src]="points.imgSrc" class="preview" loading="lazy"
                    width="20" height="15" alt="jump" />
                </a>
                <a *ngIf="points.imgSrc && points.floatImage=='left'" class="boxout3 progressive replace"
                  style="max-height: 220px; width: 220px;">
                  <img style="height: 100%; width: 100%; border-radius:12px;" [src]="points.imgSrc" class="preview" loading="lazy"
                    width="20" height="15" alt="jump" />
                </a>
                <p [innerHTML]="points.point"></p>
              </ol>
              <br>

            </div>

            <!-- otherSubtitles -->
            <div class="post-content">

              <div *ngFor="let fact of blog.otherSubTitleFacts">
                <p [innerHTML]="fact.fact"></p>
              </div>
              <h2 class="boldH2" *ngIf="blog.otherSubTitleFactHeader">{{ blog.otherSubTitleFactHeader }}</h2>

              <div *ngFor="let fact of blog.otherSubTitleFactTitles">
                <p [innerHTML]="fact.point"></p>
              </div>
              <div style="margin-left:4%;" *ngFor="let points of blog.otherSubTitleFactPoints; let i= index;">

                <ol type="1" id="containerIntro" class="list-inline">

                  <h3 [innerHTML]="points.title"></h3>

                  
                  
                  <p [innerHTML]="points.point"></p>
                  <a *ngIf="points.imgSrc && points.floatImage=='right'" class="boxout2 progressive replace"
                    style="max-height: 220px; width: 220px;">
                    <img style="height: 100%; width: 100%; border-radius:12px;" [src]="points.imgSrc" class="preview" loading="lazy"
                      width="20" height="15" alt="jump" />
                  </a>
                  <a *ngIf="points.imgSrc && points.floatImage=='left'" class="boxout3 progressive replace"
                    style="max-height: 220px; width: 220px;">
                    <img style="height: 100%; width: 100%; border-radius:12px;" [src]="points.imgSrc" class="preview" loading="lazy"
                      width="20" height="15" alt="jump" />
                  </a>
                </ol>
                <br>

              </div>
            </div>

            <!-- otherSubtitles ends here -->
            <br>
            <br>
            <!-- blockquote -->
            <h3 *ngIf="blog.finalNotesHeader" [innerHTML]="blog.finalNotesHeader"></h3>
            <article class="post" style="margin-top:6%">
              <!-- <h4>Final Notes</h4> -->
              <div *ngFor="let note of blog.finalNotes">
                <p data-aos="fade-left" data-aos-duration="1000" [innerHTML]="note.finalNote"></p>
              </div>
            </article>

          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <aside class="sidebar">
          <!-- <div class="widget-search widget">
            <form action="#">
              <input class="form-control" type="text" placeholder="Search..." name="search">
              <button type="submit" class="widget-search-btn">
                <i class="tf-ion-ios-search"></i>
              </button>
            </form>
          </div> -->
          <!-- <div class="widget-categories widget">
            <h2>Categories</h2>
            <ul class="widget-categories-list">
              <li>
                <a href="#">Financial Advise</a>
              </li>
              <li>
                <a href="#">Businee Growth</a>
              </li>
              <li>
                <a href="#">Investment Marketing</a>
              </li>
              <li>
                <a href="#">Business Consulting</a>
              </li>
              <li>
                <a href="#">Advanced Analytics</a>
              </li>
              <li>
                <a href="#">Investment Marketing</a>
              </li>
            </ul>
          </div> -->
          <div class="widget-post widget">
            <h2>Latest Post</h2>
            <!-- latest post -->
            <ul class="widget-post-list" *ngFor="let blog of latestBlogs">
              <li class="widget-post-list-item">
                <div class="widget-post-image">
                  <a (click)="onNavigate(blog)">
                    <img style="max-height:50px;" src="{{ blog.imgSrc }}" alt="{{ blog.title }}">
                  </a>
                </div>
                <div class="widget-post-content">
                  <a (click)="onNavigate(blog)">
                    <h5 [innerHTML]="blog.title"></h5>
                  </a>
                  <!-- <h6>Aug 20, 2018</h6> -->
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- blog details part end -->
<app-footer></app-footer>